<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ms-auto justify-content-center">
        <a class="navbar-brand"
           th:href="@{/}">TEAMWORK</a>
    </div>
</nav>

<!-- BODY -->
<div class="container py-5">

    <div class="row justify-content-center">
        <div class="col-md-5">

            <div th:if="${error}">
                <div class="alert alert-danger text-center"
                     th:text="${error}"></div>
            </div>

            <div th:if="${param.logout}">
                <div class="alert alert-success text-center">
                    You have been logged out.
                </div>
            </div>

            <div class="card shadow-sm">
                <div class="card-header text-center bg-white">
                    <h4 class="mb-0">Login</h4>
                </div>

                <div class="card-body">

                    <form
                            method="post"
                            role="form"
                            th:action="@{/login-user}"
                            th:object="${user}"
                    >

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="text"
                                   name="email"
                                   class="form-control"
                                   placeholder="Enter email">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password"
                                   name="password"
                                   class="form-control"
                                   placeholder="Enter password">
                        </div>

                        <div class="d-grid">
                            <button type="submit"
                                    class="btn btn-outline-dark">
                                Login
                            </button>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>

</div>

</body>
</html>